.card {
  background-color: #A367B1;
}
.btn {
  background-color: #392467;
  color: #FFD1E3;
}
.card-title{
  color: #FFD1E3;
}
.butoane {
  align-items: center;
}
.card-img-top {
  width:262px;
  height: 262px;
}
.card{
  width: 300px;
  height: 500px;
}
